<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/phpunit-bootstrap.php"
         colors="true"
         verbose="true" >

    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="Odandb\MonitoringMetricsBundle\Tests\Fixtures\Kernel" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="APP_DEBUG" value="1" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=30&amp;max[self]=0" />
    </php>

    <testsuites>
        <testsuite name="MonitoringMetricsBundle test suite">
            <directory>./tests/Functional</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory>./src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Test</directory>
        </exclude>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
